<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGwMAdXI9Z6ws8l_FxJHHCBnb6Xf71zAE</string>
	<key>GCM_SENDER_ID</key>
	<string>608707985703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quizly.app</string>
	<key>PROJECT_ID</key>
	<string>quizly-market-app</string>
	<key>STORAGE_BUCKET</key>
	<string>quizly-market-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608707985703:ios:7425336c5ccb8015622902</string>
</dict>
</plist>