<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568369386495-17m34mrumh2njfsov3mbu51i2k2gna84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568369386495-17m34mrumh2njfsov3mbu51i2k2gna84</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>568369386495-umvco3b8jgp3l3bvdrmh7aj6q35drjsh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3j_HAwq0dyBi8KnCgPNUeUi7l85tYoOY</string>
	<key>GCM_SENDER_ID</key>
	<string>568369386495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterbro.quizlyMarket</string>
	<key>PROJECT_ID</key>
	<string>test-9cf8b</string>
	<key>STORAGE_BUCKET</key>
	<string>test-9cf8b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568369386495:ios:acc99e27da3ad29c1e4dca</string>
</dict>
</plist>